.banner
  .container
    .banner-slider.swiper
      .swiper-wrapper
        section.swiper-slide
          h2.banner__header Обеспечиваем современными решениями для построения VPN
          button.banner__button(type="button") Выбрать решение
        section.swiper-slide
          h2.banner__header Обеспечиваем современными решениями для построения VPN
          button.banner__button(type="button") Выбрать решение
        section.swiper-slide
          h2.banner__header Обеспечиваем современными решениями для построения VPN
          button.banner__button(type="button") Выбрать решение
      .swiper-pagination
    .banner-img.lighthouse
