.docs
  .container
    .docs__container
      section.docs-item
        .docs-item__container
          h2.docs-item__title Международные технические стандарты IPsec
          .docs-item__link
            a(href="#")
              |Подробнее
              svg(width="7" height="12")
                use(xlink:href="#arrow-right" href="#arrow-right")
          .docs-item__icon
      section.docs-item
        .docs-item__container
          h2.docs-item__title Сертификация в органах ФСБ и ФСТЭК России
          .docs-item__link
            a(href="#")
              |Подробнее
              svg(width="7" height="12")
                use(xlink:href="#arrow-right" href="#arrow-right")
          .docs-item__icon
