.info
  .container
    section.info-company
      .info-company__container
        .info-company__icons
        .info-company__content
          h2.info-company__title Разрабатываем и производим сердства сетевой информационной безопасности

          .info-company__text На основе технологии IPsec VPN обеспечиваем защиту межсетевых взаимодействий, беспроводных и мультисервисных сетей, безопасность работы удаленных и мобильных пользователей.
          .info-company__link
            a.btn(href="#") О компании

    section.info-products
      .info-products__container
        h2.info-products__title Вся продуктовая линейка ООО «С-Терра СиЭсПи»
        div.info-products__text Ознакомьтесь с линейкой нашей продукции
        div.info-products__link
          a.btn.btn-danger(href="#") Перейти в каталог
