svg(style="display: none")
  symbol#arrow-left(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M0.29337 6.70845C-0.09779 6.31718 -0.09779 5.68282 0.29337 5.29155L5.29011 0.29345C5.68127 -0.0978163 6.31547 -0.097817 6.70663 0.29345C7.09779 0.684716 7.09779 1.31908 6.70663 1.71035L1.70989 6.70845C1.31873 7.09972 0.684531 7.09972 0.29337 6.70845Z" fill="currentColor")
    path(d="M0.29337 5.29155C-0.09779 5.68282 -0.09779 6.31718 0.29337 6.70845L5.29011 11.7066C5.68127 12.0978 6.31547 12.0978 6.70663 11.7066C7.09779 11.3153 7.09779 10.6809 6.70663 10.2896L1.70989 5.29155C1.31873 4.90028 0.684531 4.90028 0.29337 5.29155Z" fill="currentColor")
  symbol#arrow-right(width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M6.70663 6.70845C7.09779 6.31718 7.09779 5.68282 6.70663 5.29155L1.70989 0.29345C1.31873 -0.0978163 0.684531 -0.097817 0.29337 0.29345C-0.0977898 0.684716 -0.0977898 1.31908 0.29337 1.71035L5.29011 6.70845C5.68127 7.09972 6.31547 7.09972 6.70663 6.70845Z" fill="currentColor")
    path(d="M6.70663 5.29155C7.09779 5.68282 7.09779 6.31718 6.70663 6.70845L1.70989 11.7066C1.31873 12.0978 0.68453 12.0978 0.29337 11.7066C-0.0977901 11.3153 -0.0977901 10.6809 0.29337 10.2896L5.29011 5.29155C5.68127 4.90028 6.31547 4.90028 6.70663 5.29155Z" fill="currentColor")
  symbol#arrow-down(width="9" height="5" viewBox="0 0 9 5" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M5.45015 4.70644C5.05888 5.09785 4.42452 5.09785 4.03325 4.70644L1.03515 1.711C0.643883 1.31959 0.643882 0.684977 1.03515 0.293561C1.42642 -0.0978538 2.06078 -0.0978538 2.45205 0.293561L5.45015 3.289C5.84142 3.68041 5.84142 4.31502 5.45015 4.70644Z" fill="#E42D24")
    path(d="M4.03325 4.70644C4.42452 5.09785 5.05888 5.09785 5.45015 4.70644L8.44825 1.711C8.83952 1.31959 8.83952 0.684977 8.44825 0.293561C8.05698 -0.0978538 7.42261 -0.0978538 7.03135 0.293561L4.03325 3.289C3.64198 3.68041 3.64198 4.31502 4.03325 4.70644Z" fill="#E42D24")
