.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;

  height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 24px;

  background: white;
  color: $primary;
  border-color: $border;

  &:hover {
    border-color: $border-dark;
  }

  &-lg {
    height: 54px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 17px;
    border-radius: 28px;
  }

  &-circle {
    width: 42px;
    padding: 0;
  }

  &-primary {
    background: $primary;
    color: white;
    border-color: $primary;

    &:hover {
      border-color: $primary;
    }
  }

  &-accent {
    background: $accent;
    color: white;
    border-color: $accent;

    &:hover {
      border-color: $accent;
    }
  }

  &-block {
    width: 100%;
  }
}
