.page {
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: $containerMaxWidth;
  padding-left: $containerPadding;
  padding-right: $containerPadding;
  margin-left: auto;
  margin-right: auto;
}
