.partners {
  margin-top: 80px;
  padding-bottom: 84px;
  .partner {
    background: white;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-slider {
    .swiper-control {
      border: none!important;
    }
  }
}
