.partners {
  .partners-slider {
    .swiper-wrapper {
      padding-left: 70px;
    }
    .swiper-slide {
      width: calc(1440px / 6);
      max-width: 200px;
    }

    @include moreThanContainer {
      .swiper-wrapper {
        padding-left: calc(50vw - 650px);
      }
    }
  }
}
