$blue1: #1e1d85;
$blue2: #000066;
$blue3: #3A38A3;

$light1: #dedef4;
$light2: #f6f6ff;
$light3: #7373ba;

$red: #e42d24;

$primary: $blue1;
$secondary: $light3;
$dark: $blue2;
$accent: $red;
$border: $light2;
$border-dark: $light3;
$bg: $light2;

$containerPadding: 70px;
$containerMaxWidth: 1440px;
@mixin moreThanContainer {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
